@import 'tailwindcss';
@import './styles/fonts.css';
@import './styles/variables.css';
@import './styles/global.css';
@import './styles/mantain.css';

/* tailwind config */
@theme {
  --color-rhino-indigo-blue: #1c4670;
  --color-rhino-indigo-blue-highlight: #036983;
  --color-rhino-indigo-blue-light: #496b8d;
  --color-rhino-energy-green: #00cf60;
  --color-rhino-green-accent: oklch(72.3% 0.219 149.579);
  --color-rhino-energy-green-light: #66e3a0;
  --color-rhino-yellow: oklch(79.5% 0.184 86.047);
  --color-rhino-red: var(--color-rhino-red);
  --color-rhino-white: #fff;
  --color-grey-light: #e6e6fa;
  --color-grey-dark: #91a0b1;
  --color-rhino-grey: #666666;

  /* Asset Dashboard */
  --color-medium-electricity: #1c4670;
  --color-medium-gas: #1c4670;
  --color-medium-water: #278ab0;
  --color-medium-heat: #f57c00;
  --color-medium-cooling: #00b0ff;
  --color-medium-co2: #9e9e9e;

  --font-montserrat: 'Montserrat', 'sans-serif';
  --text-sm: 13px;
}
