:root {
  /* Font Size */
  --font-size-sm: 13px;

  /* Border */
  --border-redius: 4px;
  --border-color: #babbbb;

  /* Color */
  --color-rhino-indigo-blue: #1c4670;
  --color-rhino-indigo-blue-highlight: #036983;
  --color-rhino-indigo-blue-light: #496b8d;
  --color-rhino-energy-green: #00cf60;
  --color-rhino-energy-green-light: #66e3a0;
  --color-rhino-yellow: 'oklch(79.5% 0.184 86.047)';
}
